.uk-button-large {
    border-radius: 50px;
    background: radial-gradient(138% 236% at 44% -78%,#ffb6a6 0%, #ff4c4c 100%);
    line-height: 1;
    letter-spacing: 0.5px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 320px;
}

.uk-button-large:hover {
    background: #ff8787 !important;
}