.uk-button-large {
    border-radius: 50px;
    background: #369cb7;
    line-height: 1;
    letter-spacing: 0.5px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 320px;
}

.uk-button-large:hover {
    background: #74c0d4 !important;
}